---
---

@charset "utf-8";

// Our variables
$base-font-family: Open Sans, Arial, Helvetica, Sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    630px;
$on-laptop:        630px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "syntax-highlighting";

.footnotes {
  border-top: 1px solid $grey-color;
  padding: 25px 0;
}

h1#tabular-increase-your-productivity-by-918675 {
  em {
    font-size: 13px;
  }
}

dt {
  font-weight: 400;
}
dd {
  margin-bottom: 15px;
}
